<h1>Add member</h1>

<form action="listpc/addrecord/" method="post">
{% csrf_token %}
location : <br>
<input name="location">
<br><br>
departement :<br>
<input name="departement">
<br><br>
user :<br>
<input name="user">
<br><br>
device_type :<br>
<input name="device_type">
<br><br>
device_status :<br>
<input name="device_status">
<br><br>
old_label :<br>
<input name="old_label">
<br><br>
new_label :<br>
<input name="new_label">
<br><br>
mainboard :<br>
<input name="mainboard">
<br><br>
processor :<br>
<input name="processor">
<br><br>
memory :<br>
<input name="memory">
<br><br>
hardisk :<br>
<input name="hardisk">
<br><br>
monitor1_oldlabel :<br>
<input name="monitor1_oldlabel">
<br><br>
monitor1_newlabel :<br>
<input name="monitor1_newlabel">
<br><br>
monitor1_model :<br>
<input name="monitor1_model">
<br><br>
monitor1_size :<br>
<input name="monitor1_size">
<br><br>
monitor2_oldlabel :<br>
<input name="monitor2_oldlabel">
<br><br>
monitor2_newlabel :<br>
<input name="monitor2_newlabel">
<br><br>
monitor2_model :<br>
<input name="monitor2_model">
<br><br>
monitor2_size :<br>
<input name="monitor2_size">
<br><br>
ipaddress :<br>
<input name="ipaddress">
<br><br>
internet :<br>
<input name="internet">
<br><br>
os :<br>
<input name="os">
<br><br>
license_os :<br>
<input name="license_os">
<br><br>
office :<br>
<input name="office">
<br><br>
license_office :<br>
<input name="license_office">
<br><br>
application :<br>
<input name="application">
<br><br>
purchase_date :<br>
<input name="purchase_date">
<br><br>
grade :<br>
<input name="grade">
<br><br>
antivirus :<br>
<input name="antivirus">
<br><br>
scandate :<br>
<input name="scandate">
<br><br>
result :<br>
<input name="result">
<br><br>
action :<br>
<input name="action">
<br><br>
checkedby :<br>
<input name="checkedby">
<br><br>
checkeddate :<br>
<input name="checkeddate">
<br><br>
remark :<br>
<input name="remark">
<br><br>
<input type="submit" value="Submit">
</form>