{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table">
                      <thead class="text-primary text-center">
                        <th>
                          ID
                        </th>
                        <th>
                          LOCATION
                        </th>
                        <th>
                          DEPARTEMENT
                        </th>
                        <th>
                          USER
                        </th>
                        <th>
                          DEVICE TYPE
                        </th>
                        <th>
                          DEVICE STATUS
                        </th>
                        <th>
                          OLD LABEL
                        </th>
                        <th>
                          NEW LABEL
                        </th>
                        <th>
                          MAINBOARD
                        </th>
                        <th>
                          PROCESSOR
                        </th>
                        <th>
                          MEMORY
                        </th>
                        <th>
                          HARDISK
                        </th>
                        <th>
                          MONITOR 1 OLD LABEL
                        </th>
                        <th>
                          MONITOR 1 NEW LABEL
                        </th>
                        <th>
                          MONITOR 1 MODEL
                        </th>
                        <th>
                          MONITOR 1 SIZE
                        </th>
                        <th>
                          MONITOR 2 OLD LABEL
                        </th>
                        <th>
                          MONITOR 2 NEW LABEL
                        </th>
                        <th>
                          MONITOR 2 MODEL
                        </th>
                        <th>
                          MONITOR 2 SIZE
                        </th>
                        <th>
                          IP ADDRESS
                        </th>
                        <th>
                          INTERNET
                        </th>
                        <th>
                          OS
                        </th>
                        <th>
                          LICENSE
                        </th>
                        <th>
                          OFFICE
                        </th>
                        <th>
                          LICENSE
                        </th>
                        <th>
                          APPLICATION
                        </th>
                        <th>
                          PURCHASE DATE
                        </th>
                        <th>
                          GRADE
                        </th>
                        <th>
                          ANTIVIRUS
                        </th>
                        <th>
                          SCAN DATE
                        </th>
                        <th>
                          RESULT
                        </th>
                        <th>
                          ACTION
                        </th>
                        <th>
                          CHECKED BY
                        </th>
                        <th>
                          CHECKED DATE
                        </th>
                        <th>
                          REMARK
                        </th>
                      </thead>
                      
                      <tbody>
                        <a href="listpc/">Edit Mode</a>
                        <br>
                        <a href="add/">Add</a>
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            Main Office
                          </td>
                          <td>
                            IT
                          </td>
                          <td>
                            Adhitya Sidiq Permana
                          </td>
                          <td>
                            PC
                          </td>
                          <td>
                            Active
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            PC-0366
                          </td>
                          <td>
                            VARRO H61 NVME
                          </td>
                          <td>
                            Intel(R) Core(TM) i5-3570S CPU @ 3.10GHz   3.10 GHz
                          </td>
                          <td>
                            8 GB
                          </td>
                          <td>
                            120 SSD + 500GB HDD
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            MO-0003
                          </td>
                          <td>
                            LG 24
                          </td>
                          <td>
                            24"
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            192.168.8.125
                          </td>
                          <td>
                            OK
                          </td>
                          <td>
                            WINDOWS 10 PRO X64
                          </td>
                          <td>
                            OK
                          </td>
                          <td>
                            MS OFFICE 2016 STD
                          </td>
                          <td>
                            OK
                          </td>
                          <td>
                            SQL, PAYROLL, VB6, MES, ERP
                          </td>
                          <td>
                            2022-11-01
                          </td>
                          <td>
                            A
                          </td>
                          <td>
                            WINDOWS DEFENDER
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            ADHIT
                          </td>
                          <td>
                            2022-11-24
                          </td>
                          <td>
                            BARU INSTALL
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
