

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://appseed.us/admin-dashboards/django-dashboard-material">
                   Coded by Eidith
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
              Templates by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">AppSeed &copy; <a target="_blank" rel="noopener noreferrer" 
                        href="https://www.creative-tim.com/product/material-dashboard-django">Creative Tim</a> </a>
          </div>
        </div>
    </footer>
